@model ProdutoModel
@{
    ViewData["Title"] = "Confirmação para apagar produto";
}

<div class="text-center">
    <h3>Realmente deseja apagar o produto (@Model.Nome)?</h3>
<a class="btn btn-primary" role="button" asp-controller="Produto" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusão</a>
    <a class="btn btn-danger" role="button" asp-controller="Produto" asp-action="Index">Cancelar exclusão</a>
</div>